<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/typicons/typicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/media-queries.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}

        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/ico/apple-touch-icon-57-precomposed.png') }}">

    </head>

    <body>

        <!-- Loader -->
        <div class="loader">
            <div class="loader-img"></div>
        </div>

        <!-- Top content -->
        <div class="top-content">

        {% block navbar %}
            <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Course Grab</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        {% block navbarContent %}{% endblock %}
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>
        {% endblock %}

        {% block body %}
            <div class="container">
                {% block content %}

                {% endblock %}

            </div> <!-- /container -->
        {% endblock %}
   

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-social">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer-copyright">
                    CourseGrab &copy; 2015
                </div>
            </div>
        </div>
    </footer>

     <script>
        var settings = {
            viewsPath: '{{ asset('/views/') }}'
        };
    </script>
    <!-- Javascript -->
    <script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.backstretch.min.js') }}"></script>
    <script src="{{ asset('assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('assets/js/retina-1.1.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
    <script src="{{ asset('app/app.js') }}"></script>
    <script src="{{ asset('app/controllers/course.js') }}"></script>
    <script src="{{ asset('app/controllers/cart.js') }}"></script>
    <script src="{{ asset('app/services/courseApi.js') }}"></script>
    <script src="{{ asset('app/services/notifyApi.js') }}"></script>
    <script src="{{ asset('app/factories/dataPersistence.js') }}"></script>

    {% block scripts %}

    {% endblock %}
</body>

</html>
